@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
  For dark theme the color of the main is black
 */
.dark-theme {
  background-color: #242d52;
  color: #fafafa;
}

/*
  For the light theme the color of the main is blue
 */
.light-theme {
  background-color: #fafafa;
  color: #242d52;
}
.light-theme-btn {
  background-color: #eba06d !important;
  border-color: #eba06d !important;
  color: #242d52;
}

.dark-theme-btn {
  background-color: #0c998b !important;
  border-color: #0c998b !important;
  color: #242d52;
}

.dark-theme-input {
  // background-color: rgba(36, 45, 8, 0.3) !important;
  background-color: #000;

  &:focus {
    background-color: #000;
    color: #fafafa;
  }
}

.dark-theme-list {
  li {
    background-color: #000;
    color: #fafafa;
  }
}

a {
  text-decoration: none;
  color: #242d52 !important;
}

h1 {
  /* color: #242d52; */
  font-family: Spartan, sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 0;
}

h2 {
  /* color: #242d52; */
  font-family: Spartan, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

h3 {
  font-family: Spartan, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.225px;
  margin-bottom: 0;
}

h4 {
  font-family: Spartan, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.225px;
  margin-bottom: 0;
}

p {
  font-family: Spartan, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.225px;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

// Centers the item
.center-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-family: Spartan, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
}

.semi-bold-1 {
  font-family: Spartan, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2px;
}

.small-para {
  font-family: Spartan, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.225px;
  margin-bottom: 0;
}

.selected-item {
  background-color: rgba(235, 160, 109, 0.4);
}

.custom-list-item {
  cursor: pointer;
  &:hover {
    background-color: rgba(235, 160, 109, 0.4);
  }
}

body {
  background-color: #6db8eb;
}

main {
  height: auto;
  padding: 0rem 2rem;
  background-color: #6db8eb;
}

@media (min-height: 1160px) {
  main {
    height: 100vh;
  }
}

// Styling for the scroll bar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// For hiding the up and down arrows for the number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
